.navbar {
  background: #1E2A38;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-link:hover {
  background: #394753;
}
